@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

$text-color: #363636;
$line-color: #eaeaea;

$search-bar-height: 50px;
$loupe-size: 20px;
$loupe-y-position: ($search-bar-height - $loupe-size)/2;

%section-title {
  display: block;
  font-weight: 600;
}

body {
  margin: 50px 75px;
  font-size: 16px;
  color: $text-color;
  font-family: 'Montserrat', sans-serif;
}

.search-bar {

  &__area {
  box-sizing: border-box;
  width: 600px;
  height: 50px;
  margin-bottom: 40px;
  padding-left: $loupe-size * 3;
  padding-right: $loupe-size;

  cursor: pointer;
  background: url(./images/Vector.svg);
  background-repeat: no-repeat;
  background-position: $loupe-size $loupe-y-position;
  }

  &__title {
    margin: 0 0 10px;
    @extend %section-title;
  }

  &__icon {
    width: 20px;
    height: 20px;
    margin-right: 10px;
  }
}

.section {
  &__title {
    padding-bottom: 5px;
    border-bottom: 1px solid $line-color;
    @extend %section-title;
  }
}
